html, body {
    height: 100%;

}

body {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    padding-top: 25px;


}

#map {
        height: 60%;
        width: 100%;
        margin-top: 25px;
        margin-bottom: 20px;
        border-top: 2px solid #F0F0F0;
        border-bottom: 2px solid #F0F0F0;
}

#bus-count {
  font-weight: 600;
  color: #1BB350;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: #F6F6F6;
  height: 80px;
  width: 100%;
  text-align: center;
  padding-top: 20px;

}
